<!--      <form method="post">
 -->
{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
      <img src="{% static 'images/sample.jpg' %}" alt="picture" width="300" height="200" >
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, adipisci quae, modi inventore voluptate exercitationem in ipsa totam rem officiis soluta perferendis, odio earum quis! Quae corporis earum rerum omnis!</p>
</body>
</html>